.site-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.feed-list {
  padding: 1%;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.feed-list h2 {
  margin-top: 0;
  font-size: 18px;
}

#new-feed-input {
  width: calc(100% - 80px);
  margin-right: 5px;
  padding: 3px;
  background: none;
}

input {
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
}

input:focus {
  border-bottom: 1px solid #4CAF50;
}

#add-feed-button {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#feed-list {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
}

#feed-list li {
  margin-bottom: 5px;
}

#feed-list li:last-child {
  margin-bottom: 0;
}

.remove-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-left: 5%;
  margin-top: 5px;
}

.remove-button .icon {
  color: red;
  font-size: 20px;
  line-height: 1;
}

.error-message {
  position: absolute;
  color: red;
  font-size: 14px;
  animation: shake 0.3s infinite;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-3px);
  }

  50% {
    transform: translateX(3px);
  }

  75% {
    transform: translateX(-3px);
  }

  100% {
    transform: translateX(0);
  }
}